In [1]:
%%javascript
// render cell content fully instead of using scroll bar
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
# using the matplotlib inline mode, we can see the progress when updating our figure
%matplotlib inline

In [3]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
ridesharing_filepath = r"O:/AIC data/Shared/amod-data/VGA Evaluation/experiments/icreased_trip_multiplication_time_shift/vga-weight0/ridesharing.csv"

In [5]:
with open(ridesharing_filepath, 'r', encoding="utf-8")  as ridesharing:
    r = pd.read_csv(ridesharing)

In [6]:
r

,Batch,New Request Count,Active Request Count,Group Generation Time,Solver Time,Solver gap,1 Groups Count,1 Groups Total Time,2 Groups Count,2 Groups Total Time,...,7 Feasible Groups Count,7 Feasible Groups Total Time,8 Feasible Groups Count,8 Feasible Groups Total Time,9 Feasible Groups Count,9 Feasible Groups Total Time,10 Feasible Groups Count,10 Feasible Groups Total Time,11 Feasible Groups Count,11 Feasible Groups Total Time
0,0,220,220,2015,41,0.000000,10560,12,2834,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,263,483,2021,300,0.000094,112957,21,75232,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,254,737,2032,1570,0.000098,276817,6,217434,292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,216,953,2016,915,0.000098,438264,0,290044,213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,247,1199,2054,1634,0.000000,593398,5,342869,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,577,15690,42570,14192,0.000098,15170664,232,30177928,753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,175,526,15579,32399,8083,0.000099,14680121,419,25932494,904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,176,589,15576,37315,22354,0.000099,14864291,45,27324049,1540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,177,578,15514,49562,14062,0.000090,15121705,156,33206669,1731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,178,549,15440,40589,9111,0.000082,14928655,392,31192366,1149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def get_max_group_size_row(row_index: int) -> int:
    for size in range(1,11):
        if r.loc[row_index]["{} Groups Count".format(size)] > 0:
            continue
        else:
            return size - 1
t = get_max_group_size_row(178)

In [ ]:
type(t)

In [20]:
r.loc[33]

Batch                            3.300000e+01
New Request Count                7.790000e+02
Active Request Count             1.415000e+04
Group Generation Time            1.049682e+07
Solver Time                      2.103900e+04
Solver gap                       8.681911e-05
1 Groups Count                   1.757568e+07
1 Groups Total Time              2.710000e+02
2 Groups Count                   3.823240e+07
2 Groups Total Time              1.033000e+03
3 Groups Count                   2.312525e+06
3 Groups Total Time              3.000000e+02
4 Groups Count                   4.956940e+05
4 Groups Total Time              3.790000e+02
5 Groups Count                   1.624040e+05
5 Groups Total Time              1.035100e+05
6 Groups Count                   7.416200e+04
6 Groups Total Time              1.176449e+06
7 Groups Count                   2.739600e+04
7 Groups Total Time              5.846324e+06
8 Groups Count                   6.575000e+03
8 Groups Total Time              1.304892e+07
9 Groups Count                   9.090000e+02
9 Groups Total Time              1.051448e+07
10 Groups Count                  5.500000e+01
10 Groups Total Time             4.798500e+06
11 Groups Count                  1.000000e+00
11 Groups Total Time             4.184400e+04
1 Feasible Groups Count          5.085560e+05
1 Feasible Groups Total Time     2.700000e+01
2 Feasible Groups Count          1.138453e+06
2 Feasible Groups Total Time     6.000000e+00
3 Feasible Groups Count          7.772200e+05
3 Feasible Groups Total Time     3.800000e+01
4 Feasible Groups Count          3.116400e+05
4 Feasible Groups Total Time     3.660000e+02
5 Feasible Groups Count          1.421510e+05
5 Feasible Groups Total Time     1.026140e+05
6 Feasible Groups Count          7.236800e+04
6 Feasible Groups Total Time     1.170626e+06
7 Feasible Groups Count          2.718400e+04
7 Feasible Groups Total Time     5.834426e+06
8 Feasible Groups Count          6.555000e+03
8 Feasible Groups Total Time     1.303407e+07
9 Feasible Groups Count          9.090000e+02
9 Feasible Groups Total Time     1.051448e+07
10 Feasible Groups Count         5.500000e+01
10 Feasible Groups Total Time    4.798500e+06
11 Feasible Groups Count         1.000000e+00
11 Feasible Groups Total Time    4.184400e+04
Name: 33, dtype: float64

In [ ]:
fig, axes = plt.subplots(2,1, figsize=(4,6))
ax1 = axes[0]
ax2 = axes[1]
ax1.plot(r["Active Request Count"])

In [ ]:
ax2.plot(r["Group Generation Time"] / 1000)
ax2.plot(r["Solver Time"] / 1000)
ax2.set_ylim(0, 300)
ax2.set_xlim(0, 180)
ax2.set_xlabel("simulation time [min]")
ax2.set_ylabel("computational time [s]")
fig

In [ ]:
rt = r[20:45]

In [ ]:
rt