In [11]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [3]:
root = Path(r"C:\Google Drive\AIC Experiment Data\SiMoD demo data")

# Requests

In [8]:
old_requests = pd.read_csv(
    root / "trips.txt", 
    sep=" ",
    names=["Announcement_Time", "Latitude_From", "Longitude_From", "Latitude_To", "Longitude_To", "unknown"],
    index_col=False
)
old_requests[0:5]

,Announcement_Time,Latitude_From,Longitude_From,Latitude_To,Longitude_To,unknown
0,81850000,40.783443,-73.981918,40.798199,-73.952354,1
1,81852000,40.766209,-73.982948,40.764053,-73.984390,1
2,81852000,40.764019,-73.982498,40.757778,-73.974648,1
3,81852000,40.759346,-73.972160,40.740147,-73.986076,1
4,81853000,40.793289,-73.972679,40.797062,-73.971283,1

In [14]:
new_requests = pd.DataFrame(old_requests[["Announcement_Time", "Latitude_From", "Longitude_From", "Latitude_To", "Longitude_To"]])

# time processing
new_requests["Announcement_Time"] = datetime.strptime("2024-05-16 00:00:00", "%Y-%m-%d %H:%M:%S") + pd.to_timedelta(new_requests["Announcement_Time"], unit="ms")    

new_requests.to_csv(root / "trips.csv", index_label="id")